  /* ----------------------------
   MODAL
   ---------------------------- */
   @keyframes customEnterOverlayAnimation {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes customLeaveOverlayAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes customEnterModalAnimation {
    0% {
      transform: scale(0.2);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes customLeaveModalAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.2);
    }
  }

  .customOverlay {
    background: rgba(160, 36, 143, 0.7);
  }
  
  .customModal {
    max-width: 200px;
    width: 50%;
    height: 50%;
    margin-right: 50%;
  }

  #modalbox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #0F9D58;
    max-width: 500px;
    width: 100%;
    height: 100%;
  }

  .login {
    width: 275px;
    padding: 10%;
    /* border-radius: 2em;  */
    font-size: medium;
    /* background-color:#F4B400; */
    color:black;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(8, 8, 8, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: #0F9D58;
    width: 50%;
    height: 50%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }



:root {
  --album-dimensions: 50px;
  --border-color: rgb(204, 204, 204);
}

body {
  font-family: sans-serif;
}

/* ----------------------------
   SEARCH RESULTS 
   ---------------------------- */

.results-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  max-width: 80%;
  border-bottom: 1px solid var(--border-color);
  height: 60px;
  padding: 12px;
  margin: auto;
  text-align: left;
}

.album-col {
  cursor: pointer;
  position: relative;
  width: var(--album-dimensions);
  height: var(--album-dimensions);
}

.album-col div {
  top: 10px;
  opacity: 0;
  color: #fff;
  position: absolute;
  text-align: center;
  width: 100%;
  transition: all ease-in 0.2s;
  z-index: 9999;
}

.album-art {
  width: var(--album-dimensions);
  transition: all ease-in 0.2s;
}

.album-col:hover .album-art {
  filter: brightness(0.5);
  transition: all ease-in 0.2s;
}

.album-col:hover div {
  opacity: 1;
  transition: all ease-in 0.2s;
}

.track-col {
  flex-grow: 2;
}

.bpm-col, .duration-col {
  text-align: right;
}

.bpm-col {
  width: 60px;
}

.duration-col {
  width: 40px;
}

.like-col {
  cursor: pointer;
  height: 20px;
}

.track-col > div:nth-child(2) {
  font-size: 0.8em;
}


/* ----------------------------
   HOVER
   ---------------------------- */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #F4B400;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 10px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.like-col svg path {
  d: path("M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z");
  d: "M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z";
}

.like-col.favorite svg path {
  d: path("M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z");
  d: "M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z";
}


  /* ***************THE SEARCH STYLEGUIDE******************* */
  .searchParams {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-template: 2 / 2;
    max-width: 80%;
    margin:auto;
    text-align: left;
  }

  .sliding {
    width: 28%;
    padding-left: 1em;
  }

  #root {
    text-align: center;
  }

  #Spoogo {
    width: 220px;
    margin-top: 100px;
  }

  .searchbar {
    text-align: center;
    margin: 0 auto;
    /* margin-left: 37%; */
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
  }

  .searchbar > div {
    text-align: center;
  }

  button {
    height: 54px;
  }
  
  /* input {
    margin-right:2rem;
<<<<<<< HEAD
  }


=======
  } */
>>>>>>> b57ebb18bbf7cd6758eb1dd7485f39ced018a5d4
